@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #14213d;
  max-width: 1080px;
  margin: 0 auto;
}

.container {
  color: gray;
  height: 100vh;
}

.project-gallery img {
  width: 200px;
}

header div {
  display: grid;
  grid-template-columns: 50% 1fr 1fr 1fr;
}

header {
  font-size: 1.2rem;
  color: turquoise;
  font-family: 'Roboto Slab', serif;
  margin: 2rem 0;
}

#about {
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 50% 50%;
}

#about h1 {
  color: violet;
  font-size: 5rem;
  font-family: 'Montserrat', sans-serif;
}

#about p {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  color: violet;
  font-family: 'Montserrat', sans-serif;
}

#about .hero-image {
  align-self: center;
  justify-self: center;
}

#projects h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 25px;
  color: orange;
  font-family: 'Montserrat', sans-serif;
}

#projects p {
  color: orange;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

#projects .project-list {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 25px;
  justify-content: center;
  align-content: center;
}

#projects .project-gallery {
  display: grid;
  justify-self: center;
  align-self: center;
  padding: 25px;
  border: 2px solid violet;
}
