body {
  background-color: #14213d;
  max-width: 1080px;
  color: violet;
  padding: 25px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: violet;
}

.container {
  height: 100vh;
}

.project-gallery img {
  width: 200px;
}

header div {
  display: grid;
  grid-template-columns: repeat(6, auto);
}

header {
  font-size: 1vw;
  font-family: 'Roboto Slab', serif;
  margin: 2rem 0;
}

#about {
  max-width: 90%;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr;
}

.hero-image img {
  padding-top: 50px;
  max-width: 75%;
}

#about h1 {
  color: violet;
  /* vw helps resize the font based on screen resize*/
  font-size: 4vw;
  font-family: 'Montserrat', sans-serif;
}

#about p {
  margin-top: 1.5rem;
  font-size: 1.6vw;
  font-family: 'Montserrat', sans-serif;
}

#about .hero-image {
  align-self: center;
  justify-self: center;
}

#projects h1 {
  font-size: 1.8vw;
  text-align: center;
  margin-bottom: 25px;
  font-family: 'Montserrat', sans-serif;
}

#projects h2,
h3 {
  font-size: 1.2vw;
}

#projects p {
  font-size: 1.6vw;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

#projects .project-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 25px;
  padding: 50px;
  justify-content: center;
  align-content: center;
}

#projects .project-gallery {
  display: grid;
  padding: 25px;
  border: 2px solid violet;
  border-radius: 10px;
}

.project-link {
  color: green;
}

#skills h1 {
  text-align: center;
  margin-top: 25px;
  font-size: 2vw;
  font-family: 'Montserrat', sans-serif;
}

.skills-container {
  display: grid;
  grid-template-columns: 1fr;
}

.skill-container {
  background-color: violet;
  cursor: pointer;
  font-size: 1.5vw;
  color: #14213d;
  margin: 5px;
  padding: 10px;
}

.skill-container:hover {
  background-color: turquoise;
}

.contact-form {
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: stretch;
  font-family: 'Montserrat', sans-serif;
}

.contact-form h2 {
  text-align: center;
  font-size: 2vw;
}

.contact-form label {
  font-size: 1.5vw;
}

.contact-form input,
.contact-form textarea {
  display: block;
  background: transparent;
  border: 1px solid turquoise;
  border-radius: 5px;
  outline: none;
  width: 400px;
  margin: 10px 0;
  color: aliceblue;
}

.contact-form input {
  height: 50px;
}

.contact-form textarea {
  height: 250px;
}

.contact-form-name,
.contact-form-email,
.contact-form-message {
  margin-bottom: 25px;
}

input:focus,
textarea:focus {
  border: 1px solid grey;
}

.contact-form button {
  display: grid;
  background: transparent;
  border: none;
  border-radius: 5px;
  color: black;
  background-color: violet;
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5vw;
  font-weight: bold;
  align-self: center;
  justify-self: center;
  margin: 0 auto;
}

button:hover {
  background-color: turquoise;
}

@media screen and (max-width: 500px) {
  header div {
    display: grid;
    grid-template-columns: auto;
  }
}
