@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  background-color: #14213d;
  color: gray;
  height: 100vh;
}

.project-gallery img {
  width: 200px;
}

header div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
